#canvas{
  height: 800px;
  width: 800px;
}
.square{
  height: 50px;
  width: 50px;
  outline-color: black;
  outline-style: solid;
  display:inline-block;
}
.hover{
  color:red;
  background-color: red;
  height:50px;
  width: 50px;
  outline-style:solid;
  outline-color:black;
  display:inline-block;
}
